USE [master]
GO
/****** Object:  Database [MyNovels]    Script Date: 12/9/2020 10:43:02 AM ******/
CREATE DATABASE [MyNovels]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyNovels', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyNovels.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyNovels_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyNovels_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyNovels].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyNovels]
GO
/****** Object:  User [RiaG]    Script Date: 12/9/2020 10:43:02 AM ******/
CREATE USER [RiaG] FOR LOGIN [RiaG] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [RiaG]
GO
ALTER ROLE [db_datareader] ADD MEMBER [RiaG]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [RiaG]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/9/2020 10:43:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 12/9/2020 10:43:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Bio] [nvarchar](max) NULL,
	[NovelId] [int] NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 12/9/2020 10:43:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[GenreOfNovel] [nvarchar](max) NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Novel]    Script Date: 12/9/2020 10:43:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Novel](
	[NovelId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Review] [datetime2](7) NOT NULL,
	[IsFamous] [bit] NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_Novel] PRIMARY KEY CLUSTERED 
(
	[NovelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NovelAuthor]    Script Date: 12/9/2020 10:43:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NovelAuthor](
	[NovelAuthorId] [int] IDENTITY(1,1) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[NovelId] [int] NOT NULL,
 CONSTRAINT [PK_NovelAuthor] PRIMARY KEY CLUSTERED 
(
	[NovelAuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Author_NovelId]    Script Date: 12/9/2020 10:43:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Author_NovelId] ON [dbo].[Author]
(
	[NovelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Novel_GenreId]    Script Date: 12/9/2020 10:43:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Novel_GenreId] ON [dbo].[Novel]
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NovelAuthor_AuthorId]    Script Date: 12/9/2020 10:43:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_NovelAuthor_AuthorId] ON [dbo].[NovelAuthor]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NovelAuthor_NovelId]    Script Date: 12/9/2020 10:43:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_NovelAuthor_NovelId] ON [dbo].[NovelAuthor]
(
	[NovelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Author]  WITH CHECK ADD  CONSTRAINT [FK_Author_Novel_NovelId] FOREIGN KEY([NovelId])
REFERENCES [dbo].[Novel] ([NovelId])
GO
ALTER TABLE [dbo].[Author] CHECK CONSTRAINT [FK_Author_Novel_NovelId]
GO
ALTER TABLE [dbo].[Novel]  WITH CHECK ADD  CONSTRAINT [FK_Novel_Genre_GenreId] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([GenreId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Novel] CHECK CONSTRAINT [FK_Novel_Genre_GenreId]
GO
ALTER TABLE [dbo].[NovelAuthor]  WITH CHECK ADD  CONSTRAINT [FK_NovelAuthor_Author_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Author] ([AuthorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NovelAuthor] CHECK CONSTRAINT [FK_NovelAuthor_Author_AuthorId]
GO
ALTER TABLE [dbo].[NovelAuthor]  WITH CHECK ADD  CONSTRAINT [FK_NovelAuthor_Novel_NovelId] FOREIGN KEY([NovelId])
REFERENCES [dbo].[Novel] ([NovelId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NovelAuthor] CHECK CONSTRAINT [FK_NovelAuthor_Novel_NovelId]
GO
USE [master]
GO
