@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Novel Gallery </h1>
    <img src="https://allnovel.net/media/books_novels.jpg" />
</div>
